<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'">
		<meta charset="utf-8">
		<title>加入旅途</title>
	</head>
	<body>
		<script src="js/Jquery-V3.2.1.js"></script>
		用户名:<input type="text" name="username" id="username"><br>
		密码:<input type="text" name="password" id="password"><br>
		<button id="submit">注册</button>
		<span id="msg"></span>
		<script>
			$(function() {
				$("#submit").click(function() {
					$.ajax({
						type: "GET",
						url: "regSer",
						dataType: "json",
						data: {"username": $("#username").val(),"password": $("#password").val()},
						success: function(data) {
							if(data.result_code){
								$("#msg").css("color","green");
								alert(data.message);
								location.href="index"
							}else{
								$("#msg").css("color","red");
							}
							$("#msg").html(data.message)
						},
					})
		
				})
			})
		</script>
	</body>
</html>