@font-face {
  font-family: "iconfont"; /* Project id 3791506 */
  src: url('iconfont.ttf?t=1718373714629') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quit:before {
  content: "\e606";
}

.icon-speaker-off:before {
  content: "\ea3c";
}

.icon-speaker-on:before {
  content: "\e6a4";
}

.icon-chat:before {
  content: "\e600";
}

.icon-setting:before {
  content: "\e620";
}

.icon-friend:before {
  content: "\e604";
}

.icon-exit:before {
  content: "\e9e4";
}

.icon-ok:before {
  content: "\e6ac";
}

.icon-receipt:before {
  content: "\e61a";
}

.icon-emoji:before {
  content: "\e60c";
}

.icon-group:before {
  content: "\e7f4";
}

.icon-phone-reject:before {
  content: "\e605";
}

.icon-phone-accept:before {
  content: "\e8be";
}

.icon-ai-home:before {
  content: "\e60d";
}

.icon-minganciciku:before {
  content: "\e629";
}

.icon-shangjiantou:before {
  content: "\eb6d";
}

.icon-shouqicaidan:before {
  content: "\e622";
}

.icon-caidan:before {
  content: "\e62c";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}
